/.idea/.gitignore
/.gitignore.txt
/.idea/misc.xml
/.idea/mlkit.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
